# **Lab in Google Colab**

# ***1. Data Types and Data Structures***

## **Basic Variable Types**

### Strings

In [4]:
myString1 = "Welcome to"
myString2 = 'QuantConnect'
print(myString1 + ' ' + myString2)

Welcome to QuantConnect

In [3]:
myString3 = 'Daniel says:'
myString4 = "Hi everybody in algorithms class!"
print(myString3 + "\n" + myString4)

Daniel says:
Hi everybody in algorithms class!

### Integers

In [19]:
myInt1 = 10
print(myInt1)
print(type(myInt1))

10
<class 'int'>

In [6]:
myInt2 = 902
print(myInt2)
print(type(myInt2))

902
<class 'int'>

In [1]:
myString5 = "100"
print(type(myString5))
myInt5 = int(myString5)
print(type(myInt5))

<class 'str'>
<class 'int'>

In [2]:
myString6 = "1723"
myInt6 = int(myString6)
print(type(myInt6))

<class 'int'>

### Floats

In [ ]:
myFloat1 = 1.0
print(type(myFloat1))

In [11]:
myFloat2 = 3.1416
print("Type " + str(type(myFloat2)))

Type <class 'float'>

In [13]:
myString7 = "100"
myFloat3 = float(myString7)
print(type(myFloat3), myFloat3)

<class 'float'> 100.0

### Booleans

In [15]:
myBool1 = False
print(myBool1)

False

In [17]:
myBool2 = True
print(type(myBool2))

<class 'bool'>

## **Basic Math Operations**

In [21]:
print("Addition ", 10+19)
print("Subtraction ", 20-19)
print("Multiplication ", 19*10)
print("Division", 10/2)
print("exponent", 2**3)

Addition  29
Subtraction  1
Multiplication  190
Division 5.0
exponent 8

## **Data Collections**

### List

In [56]:
myList = ['Quant', 'Connect', 1, 2, 3]
print(myList)

['Quant', 'Connect', 1, 2, 3]

**Getting list items and the len function**

In [44]:
myList2 = ["Python",1,2,3,"Tutorial"]
print(myList2)
print("List's length:", len(myList2))
print("Item at index 0:", myList2[0])
print("Last element of list:", myList2[len(myList2) - 1])

['Python', 1, 2, 3, 'Tutorial']
List's length: 5
Item at index 0: Python
Last element of list: Tutorial

**Slicing a list**

In [40]:
print("Only numbers",  myList2[1:4])
print("Without first item", myList2[1:])
print("Without last item", myList2[:4])

Only numbers [1, 2, 3]
Without first item [1, 2, 3, 'Tutorial']
Without last item ['Python', 1, 2, 3]

**The append and remove functions over lists**

In [49]:
myList3 = ['Hello', 'Quant']
myList3.append('Hello')
print(myList3)
myList3.remove('Hello')
print(myList3)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [48]:
myList4 = [1,2,3,4]
print("Initial list:", myList4)
myList4.append(5)
print("Adding 5 to the end: ", myList4)
myList4.remove(2)
print("Removing 2 from the list: ", myList4)

Initial list: [1, 2, 3, 4]
Adding 5 to the end:  [1, 2, 3, 4, 5]
Removing 2 from the list:  [1, 3, 4, 5]

### Tuple

In [50]:
myTuple = ('Welcome', 'to', 'QuantConnect')

In [51]:
myTuple2 = (1,2,3)
print("Should throws an exeption:")
myTuple2[1] = 3

Should throws an exeption:

TypeError: 'tuple' object does not support item assignment

### Set

In [53]:
stockList = ['AAPL', 'GOOG', 'IBM', 'AAPL', 'IBM', 'FB', 'F', 'GOOG']
stockSet = set(stockList)
print(stockSet)

{'IBM', 'F', 'FB', 'AAPL', 'GOOG'}

In [54]:
myList5 = [0,0,1,1,2,3,5,8]
mySet = set(myList5)
print("List without repeated elements: ", mySet)

List without repeated elements:  {0, 1, 2, 3, 5, 8}

### Dictionary

In [ ]:
myDic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(myDic['GOOG'])

#### Getting the keys from a dictionary

In [59]:
myDic2 = {'List': myList, 'Set': mySet, 'Tuple': myTuple}
print(myDic2['Set'])
print("Python basic data structures (keys): ", myDic2.keys())

{0, 1, 2, 3, 5, 8}
Python basic data structures (keys):  dict_keys(['List', 'Set', 'Tuple'])

## **Common String Operations**

### Slicing strings

In [61]:
myString8 = 'Welcome to QuantConnect'
print(myString8[8:])

to QuantConnect

In [65]:
print(myString8[3:7])
print(myString8[8:11])
print(myString8[11:16])

come
to
Quant

### The count, find and replace functions over strings

In [75]:
print("Counting the number of i's in this sentence:", "Counting the number of i's in this sentence".count('i'))
print('The first time a appears in this sentence:', 'The first time a appears in this sentence'.find('a'))
print('All the i in this sentence now becomes X:', 'all the a in this sentence now becomes X'.replace('i', 'X'))

Counting the number of i's in this sentence: 4
The first time a appears in this sentence: 15
All the i in this sentence now becomes X: all the a Xn thXs sentence now becomes X

### The split functions

In [76]:
vowels = 'a-e-i-o-u'
splitedVowels = vowels.split('-')
a = splitedVowels[0]
o = splitedVowels[3]
print(a, o)

a o

### Formatting strings

In [77]:
operation = '2 x 3 - 2 = {}'.format(4)
print(operation)

2 x 3 - 2 = 4