# **Lab in Google Colab**

# ***1. Data Types and Data Structures***

## **Basic Variable Types**

### Strings

In [4]:
myString1 = "Welcome to"
myString2 = 'QuantConnect'
print(myString1 + ' ' + myString2)

Welcome to QuantConnect

In [3]:
myString3 = 'Daniel says:'
myString4 = "Hi everybody in algorithms class!"
print(myString3 + "\n" + myString4)

Daniel says:
Hi everybody in algorithms class!

### Integers

In [19]:
myInt1 = 10
print(myInt1)
print(type(myInt1))

10
<class 'int'>

In [6]:
myInt2 = 902
print(myInt2)
print(type(myInt2))

902
<class 'int'>

In [1]:
myString5 = "100"
print(type(myString5))
myInt5 = int(myString5)
print(type(myInt5))

<class 'str'>
<class 'int'>

In [2]:
myString6 = "1723"
myInt6 = int(myString6)
print(type(myInt6))

<class 'int'>

### Floats

In [ ]:
myFloat1 = 1.0
print(type(myFloat1))

In [11]:
myFloat2 = 3.1416
print("Type " + str(type(myFloat2)))

Type <class 'float'>

In [13]:
myString7 = "100"
myFloat3 = float(myString7)
print(type(myFloat3), myFloat3)

<class 'float'> 100.0

### Booleans

In [15]:
myBool1 = False
print(myBool1)

False

In [17]:
myBool2 = True
print(type(myBool2))

<class 'bool'>

## **Basic Math Operations**

In [21]:
print("Addition ", 10+19)
print("Subtraction ", 20-19)
print("Multiplication ", 19*10)
print("Division", 10/2)
print("exponent", 2**3)

Addition  29
Subtraction  1
Multiplication  190
Division 5.0
exponent 8

## **Data Collections**

### List

In [56]:
myList = ['Quant', 'Connect', 1, 2, 3]
print(myList)

['Quant', 'Connect', 1, 2, 3]

**Getting list items and the len function**

In [44]:
myList2 = ["Python",1,2,3,"Tutorial"]
print(myList2)
print("List's length:", len(myList2))
print("Item at index 0:", myList2[0])
print("Last element of list:", myList2[len(myList2) - 1])

['Python', 1, 2, 3, 'Tutorial']
List's length: 5
Item at index 0: Python
Last element of list: Tutorial

**Slicing a list**

In [40]:
print("Only numbers",  myList2[1:4])
print("Without first item", myList2[1:])
print("Without last item", myList2[:4])

Only numbers [1, 2, 3]
Without first item [1, 2, 3, 'Tutorial']
Without last item ['Python', 1, 2, 3]

**The append and remove functions over lists**

In [49]:
myList3 = ['Hello', 'Quant']
myList3.append('Hello')
print(myList3)
myList3.remove('Hello')
print(myList3)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [48]:
myList4 = [1,2,3,4]
print("Initial list:", myList4)
myList4.append(5)
print("Adding 5 to the end: ", myList4)
myList4.remove(2)
print("Removing 2 from the list: ", myList4)

Initial list: [1, 2, 3, 4]
Adding 5 to the end:  [1, 2, 3, 4, 5]
Removing 2 from the list:  [1, 3, 4, 5]

### Tuple

In [50]:
myTuple = ('Welcome', 'to', 'QuantConnect')

In [51]:
myTuple2 = (1,2,3)
print("Should throws an exeption:")
myTuple2[1] = 3

Should throws an exeption:

TypeError: 'tuple' object does not support item assignment

### Set

In [53]:
stockList = ['AAPL', 'GOOG', 'IBM', 'AAPL', 'IBM', 'FB', 'F', 'GOOG']
stockSet = set(stockList)
print(stockSet)

{'IBM', 'F', 'FB', 'AAPL', 'GOOG'}

In [54]:
myList5 = [0,0,1,1,2,3,5,8]
mySet = set(myList5)
print("List without repeated elements: ", mySet)

List without repeated elements:  {0, 1, 2, 3, 5, 8}

### Dictionary

In [ ]:
myDic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(myDic['GOOG'])

#### Getting the keys from a dictionary

In [59]:
myDic2 = {'List': myList, 'Set': mySet, 'Tuple': myTuple}
print(myDic2['Set'])
print("Python basic data structures (keys): ", myDic2.keys())

{0, 1, 2, 3, 5, 8}
Python basic data structures (keys):  dict_keys(['List', 'Set', 'Tuple'])

## **Common String Operations**

### Slicing strings

In [61]:
myString8 = 'Welcome to QuantConnect'
print(myString8[8:])

to QuantConnect

In [65]:
print(myString8[3:7])
print(myString8[8:11])
print(myString8[11:16])

come
to
Quant

### The count, find and replace functions over strings

In [75]:
print("Counting the number of i's in this sentence:", "Counting the number of i's in this sentence".count('i'))
print('The first time a appears in this sentence:', 'The first time a appears in this sentence'.find('a'))
print('All the i in this sentence now becomes X:', 'all the a in this sentence now becomes X'.replace('i', 'X'))

Counting the number of i's in this sentence: 4
The first time a appears in this sentence: 15
All the i in this sentence now becomes X: all the a Xn thXs sentence now becomes X

### The split functions

In [76]:
vowels = 'a-e-i-o-u'
splitedVowels = vowels.split('-')
a = splitedVowels[0]
o = splitedVowels[3]
print(a, o)

a o

### Formatting strings

In [77]:
operation = '2 x 3 - 2 = {}'.format(4)
print(operation)

2 x 3 - 2 = 4

# ***2. Logical Operations and Loops***

## **Logical Operations**

### Basics logical operations

In [79]:
print ("1 equals 0:", 1 == 0)    
print ("1 equals 1:", 1 == 1)    
print ("1 is not equal to 0:", 1 != 0)    
print ("5 is greater than or equal to 5:", 5 >= 5)    
print ("5 is greater than or equal to 6:", 5 >= 6)

1 equals 0: False
1 equals 1: True
1 is not equal to 0: True
5 is greater than or equal to 5: True
5 is greater than or equal to 6: False

### The *'and'* and *'or'* logical operations

In [80]:
print("2 > 1 and 3 > 2:", 2 > 1 and 3 > 2)
print("2 > 1 and 3 < 2:", 2 > 1 and 3 < 2)
print("2 > 1 or  3 < 2:", 2 > 1 or  3 < 2)
print("2 < 1 and 3 < 2:", 2 < 1 and 3 < 2)

2 > 1 and 3 > 2: True
2 > 1 and 3 < 2: False
2 > 1 or  3 < 2: True
2 < 1 and 3 < 2: False

## **If staments**

In [ ]:
i = 0
if i == 0:
    print('i == 0 is True')

### Complex use of if stament

In [ ]:
userIsAuthenticated = True
userIsAuthorized = False

if userIsAuthenticated and not userIsAuthorized:
    print("User is authenticated")
elif userIsAuthorized and not userIsAuthorized:
    print("User is authorized")
elif userIsAuthorized and userIsAuthenticated:
    print("User can pass!")
else:
    print("Forbidden")

## **Loop Structure**

### While

In [81]:
i = 1
while i % 6 != 0:
    print(i)
    i += 1

1
2
3
4
5

### For

In [83]:
for x in [1, 2, 3, 4, 5]:
    print(x**x)

1
4
27
256
3125

#### Break instruction

In [84]:
stocks = ['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

for stock in stocks:
    if stock == 'V' or stock == 'G':
        break
    print(stock)

AAPL
GOOG
IBM
FB
F

#### Continue instruction

In [85]:
stocks = ['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

for stock in stocks:
    if len(stock) > 1:
        continue
    print(stock)

F
V
G

## **List Comprehension**

In [87]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squaresOfEvenNumbers = [x**2 for x in numbers if x % 2 == 0]
print(squaresOfEvenNumbers)

[4, 16, 36, 64, 100]

### Complex list comprehension use case

In [92]:
stocks = ['AAPL','GOOG','IBM','FB']
versusStocks = [x + ' vs ' + y for x in stocks for y in stocks if x != y]
print(versusStocks)

['AAPL vs GOOG', 'AAPL vs IBM', 'AAPL vs FB', 'GOOG vs AAPL', 'GOOG vs IBM', 'GOOG vs FB', 'IBM vs AAPL', 'IBM vs GOOG', 'IBM vs FB', 'FB vs AAPL', 'FB vs GOOG', 'FB vs IBM']

# ***3. Functions and Objective-Oriented Programming***

## **Functions**

In [94]:
def formatProduct(x, y):
    return "{} X {} = {}".format(x, y, x*y)

print(formatProduct(2,7))
print(formatProduct(19,10))

2 X 7 = 14
19 X 10 = 190

## **Built-in Function**

### range() function

In [103]:
print("Numbers from 0 to 10:", [x for x in range(11)])
print("Odd numbers between 1 and 20:", [x for x in range(1,21,2)])
print("Even numbers between 100 and 120:", [x for x in range(100, 121, 2)])

Numbers from 0 to 10: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Odd numbers between 1 and 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Even numbers between 100 and 120: [100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120]

### len() function

In [104]:
stocks = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of stocks is {}".format(len(stocks)))
for s in range(len(stocks)):
    print(s + 1, stocks[s])

The number of stocks is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

### map() function

In [107]:
def evenOrOdd(x):
    return 'Even' if x % 2 == 0 else 'Odd'

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(evenOrOdd, numbers)))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

### Lambda functios

In [117]:
print("Square of the first 10 numbers:", list(map(lambda x: x**2, range(10))))
print(list(map(lambda x, y: x+y, [1, 2, 3, 4, 5], [5, 4, 3, 2, 1])))
print(list(map(lambda x, y: x+y, range(11, 1, -1), range(1, 11))))

Square of the first 10 numbers: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[6, 6, 6, 6, 6]
[12, 12, 12, 12, 12, 12, 12, 12, 12, 12]

## **Object-Oriented Programming**

### Classes

In [122]:
class Currency:
    def __init__(self, name, country, valueInUSD):
        self.name = name
        self.country = country
        self.valueInUSD = valueInUSD

    def printCurrency(self):
        print("[\n\tname: {}\n\tcountry: {}\n\tvalueInUSD: {}\n]".format(
            self.name, self.country, self.valueInUSD))


cop = Currency('COP', "Colombia", 0.33)
cop.printCurrency()

[
	name: COP
	country: Colombia
	valueInUSD: 0.33
]

# ***4. NumPy and Basic Pandas***

## **NumPy**

In [125]:
import numpy as np

### Arrays in NumPy

In [126]:
priceList = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
priceArray = np.array(priceList)
print(priceArray, type(priceArray))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [129]:
twoDimensionalList = [[1, 2], [3, 4]]
twoDimensionalArray = np.array(twoDimensionalList)
print("Array:",twoDimensionalArray, "\nType:", type(twoDimensionalArray),
      "\nShape:", twoDimensionalArray.shape)

Array: [[1 2]
 [3 4]]
Type: <class 'numpy.ndarray'>
Shape: (2, 2)

In [133]:
print("First row",twoDimensionalArray[0])
print("Second column",twoDimensionalArray[:,1])

First row [1 2]
Second column [2 4]

### Array functions

In [134]:
print("Mean of prices:",np.mean(priceArray))
print("Standar derivation of prices:",np.std(priceArray))
print("Total sum of prices:",np.sum(priceArray))
print("Max price on list",np.max(priceArray))

Mean of prices: 143.89666666666668
Standar derivation of prices: 0.9673790478515796
Total sum of prices: 863.38
Max price on list 145.83

## **Pandas**

In [135]:
import pandas as pd

### Series

In [138]:
s = pd.Series(priceList)
s.index = ["1.","2.","3.","4.","5.","6."]
print(s)

1.    143.73
2.    145.83
3.    143.68
4.    144.02
5.    143.50
6.    142.62
dtype: float64

In [142]:
print("Serie withot the first two:\n",s[2:],end="\n\n")
print("Serie withot the last three:\n",s[:-3])

Serie withot the first two:
 3.    143.68
4.    144.02
5.    143.50
6.    142.62
dtype: float64

Serie withot the last three:
 1.    143.73
2.    145.83
3.    143.68
dtype: float64

In [143]:
s.name = "Alphabet Stock prices"
print(s)

1.    143.73
2.    145.83
3.    143.68
4.    144.02
5.    143.50
6.    142.62
Name: Alphabet Stock prices, dtype: float64

#### Series.describe()

In [144]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Alphabet Stock prices, dtype: float64

#### pd.data_range()

In [158]:
time_range = pd.date_range('2021-10-11', periods=len(s), freq='D')
s.index = time_range
s.name = "Alphabet stock price in the last week"
print(s)

2021-10-11    143.73
2021-10-12    145.83
2021-10-13    143.68
2021-10-14    144.02
2021-10-15    143.50
2021-10-16    142.62
Freq: D, Name: Alphabet stock price in the last week, dtype: float64

#### Slicing series in Pandas

In [160]:
print("Price on the first day:", s[1])
print("Price on 2021-10-14:", s["2021-10-14"])
print("Price between 2021-10-12 and 2021-10-15:\n\n",
      s["2021-10-12": "2021-10-16"])

Price on the first day: 145.83
Price on 2021-10-14: 144.02
Price between 2021-10-12 and 2021-10-15:

 2021-10-12    145.83
2021-10-13    143.68
2021-10-14    144.02
2021-10-15    143.50
2021-10-16    142.62
Freq: D, Name: Alphabet stock price in the last week, dtype: float64

#### Indexing series

In [162]:
print("Higher than mean prices\n", s[s >= np.mean(s)])

Higher than mean prices
 2021-10-12    145.83
2021-10-14    144.02
Name: Alphabet stock price in the last week, dtype: float64